

.container{
    display:flex;
    justify-content:center;
    gap:30px;
}
.card{

    width:16rem;
    height:360px;
    border-radius:12px;
    box-shadow: 0 1px 2px rgba(19, 19, 19, 0.4);
    overflow: hidden;
}
.card img{
    width: 100%;
    height: 200px;
    display: block;
    background-color: grey;
    

}

.card:hover{
  background-color:grey;
}

         .btn-grad {background-image: linear-gradient(to right, #77A1D3 0%, #79CBCA  51%, #77A1D3  100%)}
         .btn-grad {
            margin: 10px;
            padding: 15px 45px;
            text-align: center;
            text-transform: uppercase;
            transition: 0.5s;
            background-size: 200% auto;
            color: white;            
            box-shadow: 0 0 20px #eee;
            border-radius: 10px;
            display: block;
          }

          .iklan{

    width:34rem;
   height: 42 px;
    border-radius:12px;
    box-shadow: 0 1px 2px rgba(19, 19, 19, 0.4);
    overflow: hidden;
}
.iklan img{
    width: 34rem;
   height: 42 px;
    display: block;
    background-color: grey;}

    
          .category{

    width:5rem;
   height: 60px;
    border-radius:100%;
    box-shadow: 0 1px 2px rgba(19, 19, 19, 0.4);
    overflow: hidden;
    margin-top: 20px;
    margin-bottom: 30px;
   
}
.category img{
    width: 5rem;
   height: 60px;
    display: block;
    background-color: grey;
    
}
    
    


         
          
         

          
          
